<%- include('partials/header') %>

<div class="container home-content text-center">
    <div class="row">
        <div class="col-4 home-img-box">
            <img class="home-img" src="images/icon.png">
        </div>
        <div class="col-8">
            <h1 class="home-heading">Greetings!</h1>
            <p class="home-text">
                Welcome to Open Bank, your most trusted and secure bank.<br>
                With customers spread all over the globe, we provide banking services in each and every corner of the world.<br>
                <b>Join Us Today!</b><br><br>
                Make sure to checkout our Customers
            </p>
            <a class="btn" href="/customers">View Customers</a>
        </div>
    </div>
</div>

<footer class="footer-static"><p class="text-center pt-3">&#169; Mohammad Kazim Abbas</p></footer>

<%- include('partials/footer') %>